@model Travel.Models.RouteViewModel
    <head>


    </head>
<hr />
<h1 class="detail">Маршрут "Первый"</h1>
<h3 class="black">-Красная площадь</h3>
<h3 class="black">-ВДНХ</h3>
<hr />
<h1 class="detail">Маршрут "Прогулка"</h1>
<h3 class="black">- Музей 1</h3>
<h3 class="black">- Музей 10</h3>