@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1 class="detail">Выйти из аккаунта</h1>
    @{
        
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Выход</button>
            </form>
        }
        else
        {
            <h3 class="ser">Вы успешно вышли из аккаунта.</h3>
        }
    }
</header>